<div class="full-width">
    <header>
        <div class="preHead">
            <div class="fl">
                <img src="images/logo.png" alt="">
            </div>
            <div class="fr">
                <a class="phone">054-787-4663</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="wrap">
            <div class="head">
                <p>{{::content.header.title}}</p>
            </div>
        </div>
    </header>
    <main role="main">
        <div class="headForm">
            <div class="wrap">
                <div ng-include src="'partials/form.html'"></div>
            </div>
        </div>
        <div class="aboutNina wrap">
            <article>
                {{::content.aboutNina}}
            </article>
        </div>
        <div class="aboutSadna">
            <article class="wrap">
                {{::content.aboutSadna}}
            </article>
            <img src="images/Collage.png" alt="">
        </div>

        <div class="sadnaPrograms wrap">
            <h3>{{::content.program.title}}</h3>
            <ul>
                <li ng-repeat="item in content.program.list">
                    <img ng-src="{{item.img}}" alt="">
                    <p>{{::item.txt}}</p>
                </li>
            </ul>
        </div>
        <div class="spacerPhoto">
            <img src="images/Marmelada_BG.png" alt="">
        </div>
        <div class="wrap">
            <ul class="detailsList">
                <li ng-repeat="item in content.details">
                    <img ng-src="{{::item.img}}" alt="">
                    <h4>{{::item.title}}</h4>
                    <p ng-bind-html="::item.txt"></p>
                </li>
            </ul>
        </div>
        <div class="pattern_down"></div>
        <div class="certificate">
            <p class="wrap" ng-bind-html="::content.certificate"></p>
        </div>
        <div class="pattern_up"></div>
        <div class="bottomForm">
            <div>
                <div ng-include src="'partials/form.html'"></div>
            </div>
        </div>
    </main>
    <footer>
        <p ng-bind-html="::content.subscribe"></p>
        <span>
            {{::content.license}}
        </span>
    </footer>
</div>