<div class="full-width choice">
    <header>
        <div class="preHead">
            <div class="wrap">
                <div class="fl">
                    <a ui-sref="main"><img class="logo" src="images/logo.png" alt=""></a>
                </div>
                <div class="langs fl">
                    <img ng-click="setLang('ru')" src="images/ru-flag.png" alt="">
                    <img ng-click="setLang('he')" src="images/he-flag.png" alt="">
                </div>
                <div class="fr">
                    <a class="phone">054-787-4663</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="wrap" ng-class="{'isRtl': isRtl}">
            <h1>{{::content.title}}</h1>
            <div class="clearfix"></div>
        </div>
    </header>
    <main ng-class="{'isRtl': isRtl}">
        <div class="wrap">
            <a class="chooseBtn" ui-sref="course({lang:lang})">{{::content.courseBtn}}</a>
            <a class="chooseBtn" ui-sref="workshop({lang:lang})">{{::content.workshopBtn}}</a>
        </div>
        <div class="subscribe">
            <div class="pattern_up"></div>
            <div class="subscribeOptions">
                <p ng-bind-html="::content.telSubscr"></p>
                <p ng-bind-html="::content.mailSubscr"></p>
            </div>
            <div class="pattern_down"></div>
        </div>
        <div class="disclaimer">
            {{::content.disclaimer}}
        </div>
    </main>
</div>

